<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Jetlogger</title>
    <link rel="stylesheet" href="../static/css/pico.min.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast" onclick="event.preventDefault()"
            ><strong>jetlogger</strong></a
          >
        </li>
      </ul>
    </nav>
    <!-- ./ Nav -->

    <!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
        <h3>bem-vindo ao jetlogger!</h3>
          <form>
            <input
              type="text"
              name="login"
              placeholder="nome de usuário"
              aria-label="Login"
              autocomplete="nickname"
              required
            />
            <input
              type="password"
              name="password"
              placeholder="senha"
              aria-label="Password"
              autocomplete="current-password"
              required
            />
            <button
              type="submit"
              class="contrast"
              onclick="event.preventDefault()"
            >
              Login
            </button>
          </form>
          <span>
            <a href="">Criar conta</a>
            •
            <a href="https://youtu.be/nsCIeklgp1M?t=49">Esqueceu a senha?</a>
          </span>
        </div>
        <div></div>
      </article>
    </main>
    <!-- ./ Main -->

    <!-- Footer -->
    <footer class="container-fluid">
      <small
        >Built with <a href="https://picocss.com" class="secondary">Pico</a> •
        <a
          href="https://github.com/picocss/examples/tree/master/v1-sign-in/"
          class="secondary"
          >Source code</a
        ></small
      >
    </footer>
  </body>
</html>
