<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  data-theme="dark"
>
  <head>
    <meta charset="UTF-8" />
    <title>Jetlogger</title>
    <link
      rel="stylesheet"
      th:href="@{/css/pico.min.css}"
      href="../static/css/pico.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/img/fav.ico}"
      href="../static/img/fav.ico"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/lists.css}"
      href="../static/css/lists.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fix-nav.css}"
      href="../static/css/fix-nav.css"
    />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast">
            <strong>jetlogger</strong>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary" th:text="${displayName}"></summary>
            <ul role="listbox">
              <li><a href="/lists">Minhas listas</a></li>
              <li>
                <form class="logout-form" th:action="@{/logout}" method=post>
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                  <input class="logout-input secondary" type="submit" value="Sair"></input>
                </form>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>

    <!-- Main -->
    <main class="container">
      <div>
        <h1>Relatório geral</h1>
        <form th:action="@{/lists}" method="get">
          <div class="filters">
              <span>Plataforma:</span>
              <select name="platform">
                <option value="all" th:selected="${#strings.toString(param.platform)} == 'all'">Todas</option>
                <option 
                  th:each="platform: ${platforms}" 
                  th:value="${platform}" 
                  th:text="${platform}"
                  th:selected="${#strings.toString(param.platform)} == ${platform}"
                ></option>
              </select>
              <span>Período:</span>
              <select name="date_range">
                <option value="all" th:selected="${#strings.toString(param.date_range)} == 'all'">Desde sempre</option>
                <option value="year" th:selected="${#strings.toString(param.date_range)} == 'year'">Último ano</option>
                <option value="month" th:selected="${#strings.toString(param.date_range)} == 'month'">Último mês</option>
                <option value="week" th:selected="${#strings.toString(param.date_range)} == 'week'">Última semana</option>
              </select>
              <button type="submit" class="contrast">Filtrar</button>
          </div>
        </form>
        <div class="grid stats">
          <div class="games-info">
            <span th:text="${countGames}"></span>
            <span>jogos adicionados</span>
          </div>
          <div class="games-info">
            <span th:text="${countPlayed}"></span>
            <span>jogos zerados</span>
          </div>
          <div class="games-info">
            <span 
              th:with="hours=${secondsPlayed / 3600}, minutes=${(secondsPlayed % 3600) / 60}, seconds=${secondsPlayed % 60}"
              th:text="${hours} + 'h' + ${minutes} + 'm' + ${seconds} + 's'"
            ></span>
            <span>em tempo de jogo</span>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <h1>Suas listas de jogos</h1>
        <table>
          <thead>
            <tr>
              <th scope="col">Nome da lista</th>
              <th scope="col">Criada em</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="gameList: ${gameLists}">
              <td><a class="contrast" th:href="@{'/list/' + ${gameList.id}}" th:text="${gameList.name}"></a></td>
              <td th:text="${#temporals.format(gameList.createdAt, 'dd/MM/yyyy')}"/>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer class="container-fluid">
      <small
        >Built by
        <a
          href="https://github.com/CaduSantana"
          target="_blank"
          class="secondary"
          >Cadu Santana</a
        >
        and
        <a href="https://github.com/Salies" target="_blank" class="secondary"
          >Daniel Serezane</a
        >
        • FCT-UNESP 2023
      </small>
    </footer>
  </body>
</html>
